/* CSS Document */

.credit-card-overlay {
	background-color: #2A5980;
}
.credit-card-form {
	border-radius: 20px;
	overflow: hidden !important;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
	background: 0;
}
.credit-card-form .fancybox-skin {
	background: 0;
}

/* LAYOUT */
#cc-form {
	position: relative;
	width: 580px;
	height: 360px;
	overflow: hidden;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	color: #333;
	line-height: 1.5em;
}
#cc-form h1, #cc-form button, #cc-form .ref, #cc-form .amount {
	font-family: Trebuchet MS, sans-serif;
}
#cc-form h1 {
	font-size: 22px;
	line-height: 1;
	margin: 13px 0;
}
#cc-form p {
	margin: 0;
}
#cc-form hr {
	background-color: #2a68a0;
	height: 1px;
	border: 0;
	border-top: solid 1px #14568f;
	margin: 15px -25px;
}

#cc-form label {
	display: block;
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 2em;
}
#cc-form #form-container input {
	display: block;
	background-color: transparent;
	border: solid 1px #eaf1f5;
	color: #eaf1f5;

	width: 100%;
	font-family: monospace;
	font-size: 20px;
	padding: 5px 15px;
}
#cc-form #form-container input.error {
	border-color: red;
}

#cc-form #form-container input:disabled {
	opacity: .2;
}
#cc-form button:disabled {
	opacity: .5;
}

#cc-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #eaf1f5;
	opacity: .3;
}
#cc-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #eaf1f5;
	opacity: .3;
}
#cc-form input::-ms-input-placeholder { /* Microsoft Edge */
	color: #eaf1f5;
}

/* CLASSES */
#cc-form .caption {
	color: #104e82;
	background: 0;
	font-size: 22px;
	text-align: center;
	padding: 5px 0 20px 0;
	border-bottom: 2px dashed #104e82;
}
#cc-form .info {
	text-align: center;
	font-size: 15px;
	line-height: 1.3;
}
#cc-form .ref {
	border: 0;
	background: transparent;
	color: #104e82;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 30px;
}
#cc-form .amount {
	color: #104e82;
	font-size: 22px;
	text-align: right;
	padding: 15px 5px 20px 0;
	border-bottom: 2px dashed #104e82;
}


/* INFO */
#cc-form #info-container {
	position: absolute;
	height: 100%;
	width: 225px;
	padding: 25px 50px 0 25px;
	background-color: #FFF;
}


/* FORM */
#cc-form #form-container {
	position: relative;
	margin-left: 200px;
	padding: 15px 30px 15px 25px;
	height: 100%;
	box-shadow: -5px 0 30px rgba(0, 0, 0, .4);

	background: #1863b4;
	background: -webkit-linear-gradient(left, #104b7f, #1863b4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #104b7f, #1863b4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #104b7f, #1863b4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #104b7f, #1863b4); /* Standard syntax */

	background-position: top right;
	background-repeat: no-repeat;

	color: rgba(255, 255, 255, .6);
}
#cc-form #form-container h1 {
	color: #8abbf0;
}
#cc-form #form-container img {
	position: absolute;
	top: 0;
	right: 0;
}

#cc-form #form-container .row{
	margin: 0 -10px 0 0;
}

#cc-form #form-container .col {
	padding: 0;
}

#cc-form #form-container .col div {
	padding-right: 10px;
}

#cc-form #ccname {
	text-transform: uppercase;
}


/* BUTTONS */
#cc-form button {
	background: none;
	border: 0;
	font-size: 22px;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
}

#cc-cancel {
	color: #d9d9d9;
	left: 25px;
}
#cc-submit {
	color: #89d713;
	right: 25px;
}
#cc-form #seal {
	position: absolute;
	bottom: 85px;
	left: 40px;
}

/* COUNTRY SELECTOR */
#cc-form #form-container #country {
	background-position: 8px center;
	background-size: 30px;
	background-repeat: no-repeat;
	background-color: #4682b4;

	padding-left: 45px;
	cursor: pointer;
}

#cc-form .select2-container {
	top: 0 !important;
	left: 0 !important;
}

#cc-form .select2-dropdown {
	position: relative;
	top: 22px;
	left: 220px;
	opacity: .9;
}
#cc-form .select2-dropdown .select2-results {
	height: 278px;
}
#cc-form .select2-dropdown .select2-results ul {
	max-height: 275px !important;
}
#cc-form .select2-dropdown .item {
	background-position: left center;
	background-size: 25px;
	background-repeat: no-repeat;
	padding-left: 30px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}