@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src:
		local('Open Sans Regular'),
		local('OpenSans-Regular'),
		/* from https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2 */
		url('../fonts/Open_Sans.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0d.woff */
		url('../fonts/Open_Sans.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0f.eot */
		url('../fonts/Open_Sans.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=mem8YaGs126MiZpBA-UFVZ0c&skey=62c1cbfccc78b4b2&v=v15#OpenSans */
		url('../fonts/Open_Sans.svg#OpenSans') format('svg'),
		/* from https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf */
		url('../fonts/Open_Sans.ttf') format('truetype');
}
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: normal;
	src:
		local('Quicksand Regular'),
		local('Quicksand-Regular'),
		/* from https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hK1QN.woff2 */
		url('../fonts/Quicksand.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hK1QL.woff */
		url('../fonts/Quicksand.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hK1QJ.eot */
		url('../fonts/Quicksand.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=6xKtdSZaM9iE8KbpRA_hK1QK&skey=c01f11fa5439d932&v=v7#Quicksand */
		url('../fonts/Quicksand.svg#Quicksand') format('svg'),
		/* from https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hK1QI.ttf */
		url('../fonts/Quicksand.ttf') format('truetype');
}
