.dropdown-menu-textcomplete {
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.dropdown-menu-textcomplete li {
    border-top: 1px dashed #ddd;
    padding: 2px 5px;
    margin: 0;
}

.dropdown-menu-textcomplete li:first-child {
    border-top: none;
}

.dropdown-menu-textcomplete li:hover,
.dropdown-menu-textcomplete .active {
    background-color: rgba(110, 169, 219, .8);
}

.dropdown-menu-textcomplete a {
    height: 18px;
    text-decoration: none;
    color: #555;
}

.dropdown-menu-textcomplete a:hover {
    cursor: pointer;
}

.dropdown-menu-textcomplete img {
    vertical-align: text-top;
    height: 18px;
}

.dropdown-menu-textcomplete .textcomplete-header, .dropdown-menu-textcomplete .textcomplete-footer {
    background-color: #f5f5fa;
}