@charset "utf-8";
/* CSS Document */

@import url(fonts.css);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	padding-bottom: 65px;
	text-transform: uppercase !important;
}

.recibo-email-button { text-align: center; padding-bottom: 10px; }
.recibo-email-button h4 { font-weight: 600; margin: 10px 0 0 0; text-transform: uppercase; }


/* WATERMARK */
.watermark {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -400px;
	margin-left: -400px;
	z-index: 9999;
	pointer-events: none;
	user-select: none;
}

/* ERROR */
.error {
	border-color: red;
	box-shadow: 0 0 3px red;
}

/* LOGIN */
.login-form {
	max-width: 600px;
	margin: auto;
	border: 1px solid #00205d;
}
.login-title {
	background-color: #00205d;
	color: #FFF;
}
.login-title .caption {
	font-size: 12px;
	padding: 7px 15px;
}
.login-footer {
	background-color:#bb0000;
	color: #FFF;
}
.login-footer .copyright {
	font-size: 12px;
	padding: 10px 15px;
}
.login-form input, .login-form button {
	margin: 4px 0;
}
.login-form label {
	margin: 10px 0 3px;
}
.login-form input {
	border: 0;
	padding: 8px;
	background-color: #F1F1F1;
}
.login-form .lead, .login-form label, .login-form button {
	font-family: Quicksand;
	font-weight: bold !important;
}
.login-form .lead {
	color: #e56107;
}
.login-form button i {
	margin-left:5px;
}


/* MAIN CONTAINER */
.container-fluid > .row > .col {
    position: relative;
	max-width:1440px;
	margin:auto;
}
/* IE HACK */
@media (min-width: 992px) {
    .container-fluid > .row > .col {
        display: table;
    }
}
.modal-container {
	max-width:1100px;
}
.main-menu, .main-footer {
    min-height: 40px; /* min menu/footer bar height */
    background-color:#00205d;
}
.main-menu .today {
    color: #FFF;
    color: rgba(255, 255, 255, .6);
    line-height: 40px;
    white-space: nowrap;
	direction: rtl;
}
.main-title {
	background-color:#bb0000;
}
.main-title .caption {
    font-family: Quicksand;
    color: #FFF;
	font-size: 30px;
}
.main-title button, .main-title a.btn {
	margin: 7px 0;
	min-width: 150px;
}
.main-title button i, .main-title a.btn i {
    margin-right: 5px;
}
.main-footer .copyright {
    padding: 16px 15px;
    line-height: 1.4;
    font-size:11px;
	color: #7f88a3;
    color:rgba(255,255,255,0.5);
    white-space: nowrap;
}


/* COLLAPSE MENU */
.main-menu-collapse {
    font-family: Quicksand;
    position: absolute;
    z-index: 1000;
    width: 100%;
    font-size: 22px;
}
.main-menu-collapse ul {
    width: 100%;
    padding:0;
    padding-left: 30px;
    display: block;
    color:#FFF;
}
.main-menu-collapse ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FFF !important;
    color: rgba(255, 255, 255, .8) !important;
    border-bottom: 1px dashed #5683be;
    border-bottom-color: rgba(144, 197, 255, .4);
}
.main-menu-collapse ul li a:hover {
    text-decoration: none;
    background-color:#5683be;
    background-color: rgba(144, 197, 255, .6);
}
/* TOP LEVEL */
.main-menu-collapse > ul {
    list-style: none;
    padding: 20px;
    border: 1px solid #002252 !important;
    background-color:#00205d;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    opacity:.9;
    -moz-opacity:0.9;
}


/* BIG BOX */
.big-box {
    padding: 8px;
    margin: 0;
}
.big-box input[type=radio] {
	cursor: pointer;
	margin: 6px 5px;
	vertical-align: middle;
}
.big-combo .select2-container .select2-selection--single {
    height: 38px;
}
.big-combo .select2-container .select2-selection--single .select2-selection__arrow {
    top: 6px;
    right: 6px;
}
.big-combo .select2-container .select2-selection--single .select2-selection__rendered {
    font-family: Quicksand;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 36px;
}

.med-combo .select2-container .select2-selection--single {
    height: 32px;
}
.med-combo .select2-container .select2-selection--single .select2-selection__arrow {
    top: 3px;
    right: 3px;
}
.med-combo .select2-container .select2-selection--single .select2-selection__rendered {
    font-family: Quicksand;
    font-size: 18px;
    line-height: 30px;
}


/* ICON */
.icon-box {
	width: 80px;
    padding: 10px 0;
	text-align: center;
    font-size: 46px;
	line-height: 1;
	background-color: #00205d;
	color: #FFF;
	cursor: pointer;
}


/* DATE FIELD */
.date-field {
	position: relative;
}
.date-field * {
	cursor: pointer;
}
.date-field i {
    font-size: 14px;
	color: #002252;
	position: absolute;
	top: 7px;
	right: 10px;
    pointer-events: none;
    user-select: none;
}

/* COLLAPSE ICON */
.box-control {
	font-size: 24px;
	position: absolute;
	top: 5px;
	right: 8px;
	color: #FFF;
	background: 0;
	border: 0;
	cursor: pointer;
	z-index: 1;
}

/* BOOTSTRAP OVERRIDES */
table {
	border-collapse: separate;
}
table caption {
	caption-side: top;
}


/* FORM AND CONTROLS */
form {
    display:inline;
}
input, textarea, select {
    border: 1px solid #999;
    background-color: #FFF;
    padding: 3px;
	color: #212529;
}


/* TABLES */
.data-form, .data-grid, .data-table {
	border-collapse: separate;
    border-spacing: 2px;
	width: 100%;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	opacity: .9;
	-moz-opacity: .9;
}
.data-form caption, .data-grid caption, .data-table caption {
    font-family: Quicksand;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background-color: #66799d;
    border-bottom: 3px solid #00205d;
    padding: 8px 10px;
    margin: 2px;
}
.data-form th, .data-grid th, .data-table th {
	font-weight: normal;
	color: #FFF;
	background-color: #00205d;
	padding: 8px 10px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.data-form td, .data-grid td, .data-table td {
	padding: 3px;
}
.data-form .save, .data-form .cancel, .data-form .print, .form-footer .save, .form-footer .cancel {
	width: 150px;
}

/* TABLE */
.table-orange th {
	background-color: #ffa46c;
}

/* FORM */
.data-form th, .form-responsive th {
	min-width: 75px;
	width: 20%;
	text-align: right;
}
.form-responsive-w-50 th {
	min-width: 75px;
	width: 39%;
	text-align: right;
}
.data-form td, .form-responsive td, .form-responsive-w-50 td {
	background-color: #F1F1F1;
}
.data-form input[type=text], .data-form input[type=password], .data-form textarea, .data-form select,
.form-responsive input[type=text], .form-responsive input[type=password], .form-responsive textarea, .form-responsive select,
.form-responsive-w-50 input[type=text], .form-responsive-w-50 input[type=password], .form-responsive-w-50 textarea, .form-responsive-w-50 select,
.form-fields input[type=text], .form-fields input[type=password], .form-fields textarea, .form-fields select {
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 4px;
	margin: 0;
	padding: 4px;
}
.data-form label, .form-responsive label, .big-box label {
	margin: 0;
	cursor: pointer;
	vertical-align: middle;
}
.data-form input[type=checkbox], .data-form input[type=radio],
.form-responsive input[type=checkbox], .form-responsive input[type=radio],
.form-responsive-w-50 input[type=checkbox], .form-responsive-w-50 input[type=radio],
.form-fields input[type=checkbox], .form-fields input[type=radio] {
	cursor: pointer;
	margin: 8px 5px 6px 10px;
	vertical-align: middle;
}
.data-form > tbody > tr:last-child > *, .form-footer > tbody > tr:last-child > * {
	background-color: #b4b4b4 !important;
	border-top: 3px solid #FFF;
	padding: 8px;
}
/* RESPONSIVE FORM */
@media (max-width: 767px) {
	.data-form tr, .form-responsive tr {
		display: block;
	}
	.data-form th, .form-responsive th {
		display: inline-block;
		width: 39%;
		margin: 1px 0;
	}
	.data-form td, .form-responsive td {
		display: inline-block;
		width: 60% !important;
		margin: 1px 0;
	}
	.data-form tr:last-child > * {
		display: block;
		width: 100% !important;
	}
}
@media (max-width: 575px) {
	.data-form tr, .form-responsive tr, .form-responsive-w-50 tr {
		display: block;
	}
	.data-form th, .form-responsive th, .form-responsive-w-50 th {
		text-align: left;
		display: block;
		padding: 3px 10px;
		width: 100% !important;
	}
	.data-form td, .form-responsive td, .form-responsive-w-50 td {
		display: block;
		width: 100% !important;
		margin-bottom: 5px;
	}
}


/* GRID */
.data-grid tr:nth-child(even){
	background-color: #F1F1F1;
}
.data-grid tr:nth-child(odd){
	background-color: #FFF;
}
.data-grid tr:hover {
	background-color:#FEF0D8;
}
.data-grid .edit, .data-grid .delete {
	width: 75px;
}
/* COMPACT MODE */
.grid-compact input, .grid-compact button {
	line-height: 1.2;
}


/* ANIMATIONS */
.blink {
    animation: blink .5s infinite
}

@keyframes blink {
    0% {opacity: 1}
    75% {opacity: 1}
    76% {opacity: 0}
    100% {opacity: 0}
}





/* EXTENDING BOOTSTRAP */
/*
@media (min-width:576px) {
	.w-sm-100 {width: 100% !important;}
	.w-sm-80 {width: 80% !important;}
	.w-sm-75 {width: 75% !important;}
	.w-sm-60 {width: 60% !important;}
	.w-sm-50 {width: 50% !important;}
	.w-sm-40 {width: 40% !important;}
	.w-sm-25 {width: 25% !important;}
	.w-sm-20 {width: 20% !important;}
}

@media (min-width:768px) {
	.w-md-100 {width: 100% !important;}
	.w-md-80 {width: 80% !important;}
	.w-md-75 {width: 75% !important;}
	.w-md-60 {width: 60% !important;}
	.w-md-50 {width: 50% !important;}
	.w-md-40 {width: 40% !important;}
	.w-md-25 {width: 25% !important;}
	.w-md-20 {width: 20% !important;}
}

@media (min-width:992px) {
	.w-lg-100 {width: 100% !important;}
	.w-lg-80 {width: 80% !important;}
	.w-lg-75 {width: 75% !important;}
	.w-lg-60 {width: 60% !important;}
	.w-lg-50 {width: 50% !important;}
	.w-lg-40 {width: 40% !important;}
	.w-lg-25 {width: 25% !important;}
	.w-lg-20 {width: 20% !important;}
}

@media (min-width:1200px) {
	.w-xl-100 {width: 100% !important;}
	.w-xl-80 {width: 80% !important;}
	.w-xl-75 {width: 75% !important;}
	.w-xl-60 {width: 60% !important;}
	.w-xl-50 {width: 50% !important;}
	.w-xl-40 {width: 40% !important;}
	.w-xl-25 {width: 25% !important;}
	.w-xl-20 {width: 20% !important;}
}
*/




/* LEGACY CLASSES */
.forHeaderBg {
	background-color:#084a8d;
}

.forBar {
	background-color:#d6e0eb;
}

.forFooterBg {
	background-color:#084a8d;
}

.forPageCaption {
	width:100%;
	background-color:#D1D791
}

.forPageCaption td {
	text-align:right;
	padding:4px;
	padding-right:10px;
	color:#FFF;
	font-size:24px;
}



.forOption {
	border: none;
	background-color: transparent;
}

.forWText {
	color:#FFFFFF;
	line-height: 20px;
}
.forWCaption {
	font-size: 16px;
	color:#FFFFFF;
	font-weight: bold;
	line-height: 20px;
}
.forCopyRight {
	font-size: 10px;
	color:#FFFFFF;
}
.forMain {
	background-image:url(../../images/background.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
}
.forMainTable {
	border: #333333 1px solid;
}

.forCaption {
	font-size: 16px;
	font-weight:bold;
	line-height: 20px;
}
.forText {
	font-size: 11px;
	line-height: 20px;
}
.forJText {
	font-size: 11px;
	line-height: 20px;
	text-align:justify;
}
.forWarning {
	font-size: 10px;
	line-height:20px;
	color: #F00000;
}
.forMoney {
	text-align: right;	
}
.forBack {
	background-color:transparent;
	border-color:#FFFFFF;
	color: #FFFFFF;
}

.forMCaption{
	font-size:11px;
	font-weight:bold;
	line-height:20px;
}

.forBCaption{
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	line-height:20px;
}

.forMWCaption{
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	line-height:20px;
}

.forBWCaption{
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	line-height:20px;
}

.forEdit {
	width:75px;
	color: #4F7DB0;
	border-style: solid;
	border-width: 1px;
	border-color: #4F7DB0;
}
.forDelete {
	width:75px;
	color: #FF0000;
	border-style: solid;
	border-width: 1px;
	border-color: #FF0000;
}
.forSave {
	width:150px;
	color: #4F7DB0;
	border-style: solid;
	border-width: 1px;
	border-color: #4F7DB0;
}
.forRates {
	width:75px;
	color: #356F4D;
	border-style: solid;
	border-width: 1px;
	border-color: #356F4D;
}

.forCancel {
	width:150px;
	color: #FF0000;
	border-style: solid;
	border-width: 1px;
	border-color: #FF0000;
}

.forPrint {
    width: 150px;
    border: 1px solid #999;
    background-image:url(../../images/pdf.jpg);
    background-position:left;
    background-repeat:no-repeat;
    cursor:pointer;
}

.forPDF {
	background-image:url(../../images/pdf.jpg);
	background-position:left;
	background-repeat:no-repeat;
	border:none;
	cursor:pointer;
}

.dataTable, .dataBlueTable, .dataGreenTable, .dataOrangeTable {
	border-collapse:collapse;
	line-height:20px;
	width:100%;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity: .8;
	-moz-opacity:0.8;
}

.dataTable tr, .dataBlueTable tr, dataGreenTable tr, .dataOrangeTable tr {
	background-color:#FFFFFF;
}

.dataTable .forClear, .dataBlueTable .forClear, .dataGreenTable .forClear, .dataOrangeTable .forClear {
	border: none;
	padding: 0px;
	background-color: transparent;
}

.dataBlueTable .setEPointer{
	background-color:#ECF2F9;
}

.dataBlueTable .setAltPointer {
	background-color: #F5F5F5;
}

.dataGreenTable .setDeletedPointer {
	font-style:italic;
	color:#999999;
	background-color:#FBFBFB;
}

.setPointer:hover, .setAltPointer:hover, .setEPointer:hover, .setDeletedPointer:hover {
	background-color:#FEF0D8;
}

.dataBlueTable caption {
	background-color: #AAC6DF;
	border: 1px solid #9CBCDA;
	border-bottom:none;
	padding-left:5px;
	text-align:left;
	font-weight:bold;
	line-height:20px;
}

.dataBlueTable th {
	background-color: #D0DFEE;
	border: 1px solid #9CBCDA;
	padding: 0 3px;
	text-align:left;
	font-weight:normal;
}

.dataBlueTable td {
	border: 1px solid #9CBCDA;
	padding: 3px;
}

.dataTable caption {
	background-color: #CCC;
	border: 1px solid #999;
	border-bottom:none;
	padding-left:5px;
	text-align:left;
	font-weight:bold;
	line-height:20px;
}

.dataTable th {
	background-color: #D6D6D6;
	border: 1px solid #999;
	padding:0px 3px 0px 3px;
	text-align:left;
	font-weight:normal;
}

.dataTable td {
	border: 1px solid #999;
	padding:0px 3px 0px 3px;
}

.dataGreenTable caption {
	background-color: #BFD5D5;
	border: 1px solid #ACC8C8;
	border-bottom:none;
	padding-left:5px;
	text-align:left;
	font-weight:bold;
	line-height:20px;
}

.dataGreenTable th {
	background-color: #DFEAEA;
	border: 1px solid #ACC8C8;
	padding:0px 3px 0px 3px;
	text-align:left;
	font-weight:normal;
}

.dataGreenTable td {
	border: 1px solid #ACC8C8;
	padding:0px 3px 0px 3px;
}

.dataOrangeTable caption {
	background-color: #F7C2AC;
	border: 1px solid #F5B79C;
	border-bottom:none;
	padding-left:5px;
	text-align:left;
	font-weight:bold;
	line-height:20px;
}

.dataOrangeTable th {
	background-color: #FBDED2;
	border: 1px solid #F5B79C;
	padding:0px 3px 0px 3px;
	text-align:left;
	font-weight:normal;
}

.dataOrangeTable td {
	border: 1px solid #F5B79C;
	padding:0px 3px 0px 3px;
}

.pago-realizado { background: #3380E0 !important; }
.pago-no-realizado { background: #FF0000 !important; }

@media (max-width: 981px) { 
	.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 { width: : 100%; max-width: 100%; flex: unset; padding: 0 15px 5px 15px !important; }
}

.img-flag { height: 15px; }

.codigo_de_area_div { width: 15%; float: left; }
.codigo_de_area_div + #telefono, .codigo_de_area_div + #telefono2 { width: 85%; float: left; border-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; outline-width: 0; }
.codigo_de_area_div + #dest_telefono, .codigo_de_area_div + #dest_telefono2 { width: 85%; float: left; border-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; outline-width: 0; }
.codigo_de_area_div .select2-container { outline-width: 0; }
.codigo_de_area_div .select2-container--default .select2-selection--single { border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; border-color: #999; }
.codigo_de_area_div .select2-container .select2-selection--single { height: 29px; outline-width: 0; }
.codigo_de_area_div.medium { width: 30%; float: left; }
.codigo_de_area_div.medium + #dest_telefono, .codigo_de_area_div.medium + #dest_telefono2 { width: 70%; }
.codigo_de_area_div.medium + #telefono, .codigo_de_area_div.medium + #telefono2 { width: 70%; }

.codigo_de_area_width_drop_down { width: 200px !important; }

.codigo_de_area_div .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 25px !important; }

#sale_form .main-title .caption #fecha { display: block; }