@charset "utf-8";
/* CSS Document */

.acDiv {
	padding:3px;
	border-width:1px;
	border-style:solid;
	border-color:#333333;
	background-color:#7DB9FB;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	opacity:.9;
	-moz-opacity:0.9;
	
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	display:none;
	position:absolute;
	z-index:999;
}

.acDiv ul {
	list-style:none;
	margin: 0;
	padding: 0;
}

.acDiv ul li {
	display:block;
}

.acDiv a {
	color:#000000;
	text-decoration:none;
}

.acDiv a:hover {
	color:#000000;
}

.acDiv li.selected {
	background-color:#AAD2FE;
	color:#000000;
}
