.weekpicker {
    background-color: #ffffff;
    border: 1px solid #206A9B;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    z-index: 900;
    padding-bottom: 4px;
    font-family: sans-serif;
    font-size: 12px;
}

.weekpicker .head td, .weekpicker .calendar .span1 {
    color: #000;
}

.weekpicker td.span0 {
    color: #456;
    background-color: #C7E1F3;
}

.weekpicker .week-nav {
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    font-size: 120%;
}

.weekpicker .week-nav .prev, .weekpicker .week-nav .next {
    cursor: pointer;
}

.weekpicker .calendar {
    padding: 5px;
}

.weekpicker .calendar, .weekpicker .calendar table {
    border: 0 !important;
    background: 0;
}

.weekpicker .calendar td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.weekpicker .calendar td.month-col {
    vertical-align: top;
}

.weekpicker .week .box0, .weekpicker .week .box1 {
    cursor: pointer;
}

.weekpicker .week-label {
    width: 20px;
    padding: 0 5px;
    font-weight: bold;
}

.weekpicker .calendar .box0 {
    background-color: #F1F8FC;
    color: #456;
}

.weekpicker .calendar .box1 {
    background-color: #FFFFFF;
    color: #456;
}

.weekpicker td.span0, .weekpicker .calendar .span1 {
    border-top: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}

.weekpicker .calendar .box0, .weekpicker .calendar .box1 {
    border: 1px solid #E7E7E7;
}

.weekpicker .highlighted .box0, .weekpicker .highlighted .box1 {
    background-color: #C7E1F3;
    color: #456;
}

.weekpicker .week-nav {
    background-color: #005F97;
    color: #ffffff;
}

.weekpicker .selected .box0,
.weekpicker .selected .box1 {
    background-color: #007ED1;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}